[Unit]
Description=Smartrack Reset Button
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/home/smartrack/smartrack-pi/.venv/bin/python /home/smartrack/smartrack-pi/smartrack_pi/button.py
[Install]
WantedBy=multi-user.target