[Unit]
Description=Web App For Settings
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/home/smartrack/smartrack-pi/install/services/smartrack-settings.sh
[Install]
WantedBy=multi-user.target