[Unit]
Description=Web App For Settings
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/home/smartrack/smartrack-pi/.venv/bin/python /home/smartrack/smartrack-pi/smartrack_pi/app.py
[Install]
WantedBy=multi-user.target