[Unit]
Description=Controller Reset Button
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/home/controlpanel/control-panel/.venv/bin/python /home/controlpanel/control-panel/control_panel/button.py
[Install]
WantedBy=multi-user.target