[Unit]
Description=Stats Display to OLED
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/home/controlpanel/control-panel/.venv/bin/python /home/controlpanel/control-panel/control_panel/stats.py
[Install]
WantedBy=multi-user.target